<!-- Main Navigation -->



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
  <a class="navbar-brand" href=""> <img src="/assets/logo.png" alt="Survey-Group03 Logo"  style="width: 30px; height: 30px;">Survey-Group03</a>  <!--Add Logo in future-->
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">  
      <ul class="navbar-nav ml-auto">  
            <li class="nav-item"><a class="nav-link" href="/home">Home </a></li>
            <li class="nav-item"><a class="nav-link" href="/survey" routerLinkActive="active" > Surveys </a></li>
            <li class="nav-item"><a class="nav-link" href="/survey-management" routerLinkActive="active" *ngIf="this.auth.loggedIn && this.auth.hasPermission"> Surveys Management </a></li>
            <li class="nav-item"><a class="nav-link" href="/users" routerLinkActive="active" *ngIf="this.auth.loggedIn && this.auth.hasPermission"> Users Management </a></li>
            <li class="nav-item"><a class="nav-link" href="/login" *ngIf="!this.auth.loggedIn">Login </a></li>
            <li class="nav-item"><a class="nav-link" href="/registration" *ngIf="!this.auth.loggedIn"> Signup </a></li>
            <li class="nav-item"><a class="nav-link" (click)="logout()" href="/home" *ngIf="this.auth.loggedIn">Logout</a></li>
          </ul>
    </div>
    
</nav>
