<div class="body-wrapper">
  <div class="center_form form_border">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <label for="forenameLabel">First Name</label>
        <input required type="text" class="form-control" id="forename" name="forename" [ngModel]="user.forename">
        <label for="surnameLabel">Last Name</label>
        <input required type="text" class="form-control" id="surname" name="surname" [ngModel]="user.surname">
        <label for="emailLabel">Email</label>
        <input required type="email" class="form-control" id="email" name="email" [ngModel]="user.email">
        <label for="usernameLabel">Username</label>
        <input required type="text" class="form-control" id="username" name="username" [ngModel]="user.username">
        <label for="passwordLabel">Password</label>
        <input required type="password" class="form-control" id="password" name="password" [ngModel]="user.password">
        <div>
          <button type="submit" class="curvey_button">Submit</button>
      </div>
      </form>
    </div>
    </div>
