.user_description{
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center !important;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.center_form{
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.card_survey {
width: 50%; 
margin: auto;
margin-bottom: 30px;
}

.card_button{
  width: 10%;
  color: #fff;
  background-color: #6494a3;
  border-color: #6494a3;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.editable_button {
  color: #fff;
  background-color: #6494a3;
  border-color: #6494a3;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.button_align{
  text-align: center;
}

a:hover {
  text-decoration: none;
}