<div class="body-wrapper">
    <div class="logo_container"><img src="assets/survey-logo.png" alt="survey logo" style="width: 30%;"></div>
    <div class="center_content">
    <h1>The answer to your questions!</h1>
    <p style="margin-bottom: 50px;">SurveyProject is a Angular based Web-Application developed by Centennial College students de AI programs that allows anyone to create their own surveys and have controll over their answers. This powerful tool delivers a complete survey and user management system.</p>
    <h2 style="margin-bottom: 30px;">Our team</h2>
    <div class="team_container">
        <img src="assets/Jose.jpg" alt="Jose Muniz" class="team_img">
        <h4 class="team_title">Front-End Developer + Web Designer + </h4>
        <p class="team_text">Jose Muniz</p>
    </div>
    <div class="team_container">
        <img src="assets/Ruben.jpg" alt="Ruben Ormeno" class="team_img">
        <h4 class="team_title">Project Manager + Back-End Developer</h4>
        <p class="team_text">Ruben Ormeno</p>
    </div>
    <div class="team_container">
        <img src="assets/Maryam.jpg" alt="Maryam H" class="team_img">
        <h4 class="team_title">Security Developer</h4>
        <p class="team_text">Maryam H</p>
    </div>
    <div class="team_container">
        <img src="assets/Maryam.jpg" alt="Mustafa Al-omari" class="team_img">
        <h4 class="team_title">Technical Artis</h4>
        <p class="team_text">Mustafa Al-omari</p>
    </div>
</div>
</div>